<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello sherwin</h1>
<div>
    <div th:each="employee:${employees}">
        <div>
            <p th:text="${employee.getId()}"></p>
            <p th:text="${employee.getFirstName()}"></p>
            <p th:text="${employee.getLastName()}"></p>
            <p th:text="${employee.getEmailId()}"></p>
            <p th:text="${employee.getCreatedBy()}"></p>
            <time th:text="${employee.getCreationDate()}"
                  th:datetime="${employee.getCreationDate()}"></time>
            <p>getDate</p>
            <time th:text="${employee.getDate()}"></time>
            <p th:text="${employee.getLastModifiedBy()}"></p>
            <time th:datetime="${employee.getLastModifiedDate()}"></time>
            <p th:text="${employee.toString()}"></p>
        </div>
    </div>
</div>
</body>
</html>
