<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<!-- Main Navigation -->
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #9370DB;">
    <form class="form-inline" th:action="@{/search}" th:method="post">
        <input class="form-control mr-sm-2" name="searchcontent" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light btn-sm my-2 my-sm-0" type="submit">Search</button>
    </form>

    <a class="navbar-brand" th:href="@{/}">Postgres DB CRUD Demo </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

<!--    <form class="form-inline"  th:onsubmit="search(); return false">-->
<!--        <input class="form-control mr-sm-2" name="ajxsearchcontent" id="ajxsearchcontent" type="ajxsearch" placeholder="Ajx Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->

    <div class="collapse navbar-collapse" id="navbar" >
        <ul class="navbar-nav ml-auto" >
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contact}">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/about}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/email}">Send Email</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Content Section -->
<section layout:fragment="content">
    <p>This is filled by the content template.</p>

</section>

<!-- Footer -->
<footer class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <span class="text-muted" th:text="${#dates.year(#dates.createNow())}"></span>
            <p class="text-muted">Sherwin Inc. All rights reserved.</p>
        </div>
    </div>
</footer>

<div>
    <p id="data-ajxsearch"></p>
</div>
<!-- Optional Section -->
<th:block layout:fragment="optional" />

<!--<script>-->
<!--    const ajxsearch = document.getElementById("ajxsearchcontent");-->
<!--    const searchdata = document.getElementById("data-ajxsearch");-->
<!--    function search() {-->
<!--        console.log("hello");-->
<!--        fetch(`/search/${ajxsearch.value}`)-->
<!--        .then(response => response.json())-->
<!--        .then(data => {-->
<!--            // searchdata.innerHTML = data[0][lastName];-->
<!--            console.log(data);-->
<!--            showData(data);-->

<!--        })-->
<!--        .catch(err =>console.log(err))-->
<!--    };-->

<!--    function showData(data) {-->
<!--        searchdata.innerHTML ="";-->
<!--        for(let item of data){-->
<!--            console.log(item);-->
<!--            searchdata.innerHTML +=`<p>${item.id}</p>-->
<!--                                    <p>${item.emailid}</p>-->
<!--                                    <p>${item.lastModifiedBy}</p>-->
<!--                                    <p>${item.firstname}</p>-->
<!--                                    <p>${item.lastname}</p>-->
<!--`;-->
<!--        }-->

<!--    }-->

<!--</script>-->
</body>
</html>